<!-- Header Area Starts -->
<header class="header-area header-area2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        
      </div>
      <div class="col-lg-6">
        <div id="formContent">
          <!-- Tabs Titles -->
          <!-- Icon -->
             <span class="glyphicon glyphicon-list-alt"></span>
            <h2 class="afify">Feed Me</h2>

          <!-- Login Form -->
          <form [formGroup]="angForm" novalidate (submit)="login()">
            <input type="text" id="login" class="fadeIn second" placeholder="login" formControlName="email">
            <div *ngIf="submitted && angForm.controls['email'].errors?.required">email is required.</div>

            <input type="text" id="password" class="fadeIn third" placeholder="password" formControlName="password">
            <div *ngIf="submitted && angForm.controls['password'].errors?.required">Password is required</div>


            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

          <span style="color: red;">{{msg}}</span>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="banner-area text-center">
</section>